.addbc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    gap: 4px;
    
    position: absolute;
    width: 80px;
    height: 94px;
    left: 1250px;
    top: 200px;
    
    /* Orange/$-Orange-50 */
    
    background: #FFF2E7;
    /* down */
    
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
}
.addbc a{
    width: 72px;

text-decoration: none;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
text-align: center;

/* Orange/$-Orange-500 */

color: #FF7506;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}